DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
OPENROUTER_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
PAYMENTS_ACTIVE=false

# Night 2 additions
RESEND_API_KEY=
ADMIN_EMAIL=

# ACTIVATE MAY 1
# STRIPE_SECRET_KEY=
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# STRIPE_PRO_PRICE_ID=
# STRIPE_STUDIO_PRICE_ID=
# STRIPE_WEBHOOK_SECRET=
